/*
 Theme Name: Tshirt Child Theme
 Theme URI:  http://example.com
 Description: Child theme for Hello Elementor - TShirt Project
 Author: Pranshu Patle
 Author URI: http://example.com
 Template: hello-elementor
 Version: 1.0
 Text Domain: tshirt-child
*/
